<ion-tabs>
  <ion-tab-bar slot="bottom" class="border-t border-border bg-card">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transfers" href="/tabs/transfers">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <ion-label>Transfers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cards" href="/tabs/cards">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loans" href="/tabs/loans">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Investments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
